{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ article.title }}</h1>
    <p class="text-muted">{{ article.date_published }}</p>
    <div>{{ article.div_content | safe }}</div>

    <h3>Bài viết liên quan</h3>
    <ul class="list-group">
        {% for similar in similar_articles %}
        <li class="list-group-item">
            <a href="{{ url_for('article_detail', article_id=similar.id) }}">{{ similar.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
